.feedback {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(256, 85%, 52%, 0.797);
    background-image: url("https://transparenttextures.com/patterns/carbon-fibre-big.png");
}

.feedback_container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--transperent-bg);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    color: var(--main-text-color);
}

.card .card_pin {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    filter: drop-shadow(5px 1px 5px rgba(0, 0, 0, 0.6));
}

#one {
    top: 5%;
    left: 10%;
    transition: transform 0.5 ease-in-out;
}

#two {
    bottom: 10%;
    left: 20%;
    transition: transform 0.5 ease-in-out;
}

#three {
    top: 5%;
    right: 20%;
    transition: transform 0.5 ease-in-out;
}

#four {
    bottom: 5%;
    right: 10%;
    transition: transform 0.5 ease-in-out;
}

/* .cardEnterence {
    animation: scaleCard 2s infinite linear forwards;
}

@keyframes scaleCard {
    0% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
} */

.upper_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}

.upper_cardLeft {
    padding: 5px;
}

    
.upper_cardRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lower_card {
    text-align: center;
    padding: 10px;
}


/* mediaquery */

@media (min-width: 768px) and (max-width: 1024px) {
    .feedback {
        height: auto;
    }

    .card {
        position: static;
        margin: 10px;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .feedback {
        height: auto;
    }
    .card {
        position: static;
        margin: 10px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 767px) {
    .feedback {
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: hsla(256, 85%, 52%, 0.797);
        background-image: url("https://transparenttextures.com/patterns/carbon-fibre-big.png");
    }

    .feedback_container {
        width: 80%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }

    .card {
        width: 300px;
        display: flex;
        flex-direction: column;
        background-color: var(--transperent-bg);
        border-radius: 5px;
        position: static;
        margin: 10px;
    }

    .card .card_pin {
        width: 35%;
        display: flex;
        justify-content: flex-start;
    }

}
